name = "fitness-todo-list"
main = "src/worker.js"
compatibility_date = "2023-10-02"

[[durable_objects.bindings]]
name = "LEADERBOARD"
class_name = "LeaderboardDO"
script_name = "fitness-todo-list"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["LeaderboardDO"]


[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1